<h1>{{ title }}</h1>

<!-- <div #imgContainer class="container">
  <img src="/assets/suka.png" alt="suka" class="machineImg">

  <img src="/assets/img1.png" alt="imgRoll" height="30px" class="imgRoll1" />
  <img src="/assets/img2.png" alt="imgRoll" height="30px" class="imgRoll2" />
</div>
<button (click)="increaseCount()">Count + 10</button> -->

<div class="containner">
  <div class="navbar">

  </div>
  <div class="imgContainner">
    <img src="assets/suka.png" alt="abc" class="suka">
  </div>
</div>