<div class="containner">
    <div class="navbar">
        <h1>Navbar</h1>
        <div id="google_translate_element"></div>
    </div>

    <div class="machineDetails">
        <div class="machineName">
            <h4>{{ serverData.deviceId }}</h4>
        </div>

        <!-- <div class="machineInfo">
      <div class="machineImg">
        <img src="/assets/images/machine.webp" alt="machine">
        <h4 [ngClass]="machineRunning ? 'machineRunning' : 'machineStop'">Running</h4>
      </div>
      <div class="machineSessionInfo">
        <div>
          <img src="/assets/logo/sessionCount.png" alt="sessionCount"/>
          sessionCount : {{ serverData.sessionCount }}
        </div>
        <div>
          <img src="/assets/logo/sessionDateTime.png" alt="sessionDateTime" />
          {{ serverData.sDate + " " + serverData.sTime }}
        </div>
        <div>
          <img src="/assets/logo/efficiency.png" alt="efficiency" />
          efficiency : {{ serverData.Efficiency + "%"}}
        </div>
        <div>
          <img src="/assets/logo/recipe.png" alt="recipe" />
          recipe : {{ serverData.selectedRecipe }}
        </div>
      </div>
    </div> -->
        <div class="imgContainner">
            <img
                src="assets/images/real-suka.png"
                alt="abc"
                class="suka"
                loading="lazy"
                #suka
                (click)="getImageCord($event)"
            />
            <svg class="svgRes1">
                <!-- Conveyor -->
                <polygon
                    class="poly"
                    points="110,103 254,61 370,110 365,211"
                    fill="transparent"
                    #poly
                />
                <!-- cpu -->
                <polygon
                    class="poly"
                    points="435,130 480,117 479,202 431,217"
                    fill="transparent"
                    #poly
                />
                <!-- gpu -->
                <polygon
                    class="poly"
                    points="487,115 530,103 529,188 484,200"
                    fill="transparent"
                    #poly
                />
                <!-- vision temp -->
                <polygon
                    class="poly"
                    points="538,100 582,88 580,172 535,185"
                    fill="transparent"
                    #poly
                />
                <!-- left cam -->
                <polygon
                    class="poly"
                    points="824,312 924,280 921,379 821,409"
                    fill="transparent"
                    #poly
                />
                <!-- right cam -->
                <polygon
                    class="poly"
                    points="936,278 1039,248 1035,345 932,377"
                    fill="transparent"
                    #poly
                />
                <!-- eject -->
                <polygon
                    class="poly"
                    points="553,190 629,168 678,166 602,191"
                    fill="transparent"
                    #poly
                />
                <!-- reject -->
                <polygon
                    class="poly"
                    points="653,161 731,140 777,141 690,162"
                    fill="transparent"
                    #poly
                />
                <!-- motor -->
                <polygon
                    class="poly"
                    points="633,363 643,370 651,383 698,400 709,393 722,398 736,411 736,421 727,431 701,423 687,426 675,418 673,408 640,393 616,382 627,371"
                    fill="transparent"
                    #poly
                />
            </svg>
            <svg class="svgRes2">
                <!-- conveyor -->
                <polygon
                    class="poly"
                    points="154,38 224,67 221,128 67,63"
                    fill="transparent"
                    #poly
                />
                <!-- cpu -->
                <polygon
                    class="poly"
                    points="262,79 290,71 288,124 260,131"
                    fill="transparent"
                    #poly
                />
                <!-- gpu -->
                <polygon
                    class="poly"
                    points="293,69 321,62 319,115 292,122"
                    fill="transparent"
                    #poly
                />
                <!-- vision -->
                <polygon
                    class="poly"
                    points="325,60 353,52 350,105 322,113"
                    fill="transparent"
                    #poly
                />
                <!-- left cam -->
                <polygon
                    class="poly"
                    points="333,116 386,99 409,101 365,115"
                    fill="transparent"
                    #poly
                />
                <!-- right cam -->
                <polygon
                    class="poly"
                    points="396,97 442,85 470,86 422,100"
                    fill="transparent"
                    #poly
                />
                <!-- eject -->
                <polygon
                    class="poly"
                    points="497,188 560,169 555,230 494,249"
                    fill="transparent"
                    #poly
                />
                <!-- reject -->
                <polygon
                    class="poly"
                    points="564,168 631,147 626,211 562,228"
                    fill="transparent"
                    #poly
                />
                <!-- motor -->
                <polygon
                    class="poly"
                    points="374,225 383,219 391,223 393,230 422,242 430,237 435,243 444,248 446,255 439,260 425,254 412,257 409,247 391,237 385,238 375,233"
                    fill="transparent"
                    #poly
                />
            </svg>
            <div class="box"></div>
            <button (click)="getCord()">Give Cordinate</button>
            <!-- <img
                src="/assets/images/img1.png"
                alt="imgRoll"
                height="70px"
                class="imgRoll1"
                loading="lazy"
            />
            <img
                src="/assets/images/img2.png"
                alt="imgRoll"
                height="70px"
                class="imgRoll2"
                loading="lazy"
            />
            <img
                src="/assets/images/img3.png"
                alt="imgRoll"
                height="70px"
                class="imgRoll3"
                loading="lazy"
            />
            <img
                src="/assets/images/img4.png"
                alt="imgRoll"
                height="70px"
                class="imgRoll4"
                loading="lazy"
            /> -->

            <!-- <img src="/assets/img3.png" alt="imgRoll" height="75px" class="imgRoll3" /> -->
            <!-- <div class="ejectCount" #ejectCount>{{ ejectedCount }}</div>
            <div class="ignoreCount">{{ rejectedCount }}</div>
            <app-machine-info
                class="cpuTemperature"
                [lable]="'CPU Temp'"
                [lableClass]="'cpuText'"
                [lableValue]="cpuTemperature + '&deg;C'"
            /> -->
            <!-- <div class="cpuTemperature">
        <h1>{{ cpuTemperature }}&deg;C</h1>
        <h6 class="cpuText">CPU Temp</h6>
      </div> -->
            <!-- <app-machine-info
                class="gpuTemperature"
                [lable]="'GPU Temp'"
                [lableClass]="'gpuText'"
                [lableValue]="gpuTemperature + '&deg;C'"
            /> -->
            <!-- <div class="gpuTemperature">
        <h1>{{ gpuTemperature }}&deg;C</h1>
        <h6 class="gpuText">GPU Temp</h6>
      </div> -->
            <!-- <app-machine-info
                class="conveyorSpeed"
                [lable]="'Conveyor Speed'"
                [lableClass]="'speedText'"
                [lableValue]="conveyorSpeed + 'm/s'"
            /> -->
            <!-- <div class="conveyorSpeed">
        <h1>{{ conveyorSpeed }} m/s</h1>
        <h6 class="speedText">Conveyor Speed</h6>
      </div> -->
            <!-- <app-machine-info
                class="motorAmpere"
                [lable]="'Motor Ampere'"
                [lableClass]="'motorText'"
                [lableValue]="motorAmpere + 'A'"
            /> -->
            <!-- <div class="motorAmpere">
        <h1>{{ motorAmpere }} A</h1>
        <h6 class="motorText">Motor Ampere</h6>
      </div> -->
            <!-- <app-machine-info
                class="visionTemperature"
                [lable]="'Vision Temperature'"
                [lableClass]="'visionText'"
                [lableValue]="visionTemperature + '&deg;C'"
            /> -->
            <!-- <div class="visionTemperature">
        <h1>{{visionTemperature }}&deg;C</h1>
        <h6 class="visionText">Vision Temperature</h6>
      </div> -->
            <!-- <app-machine-info
                class="sessionCount"
                [lable]="'Session Count'"
                [lableClass]="'sessionCountText'"
                [lableValue]="serverData.sessionCount"
            /> -->
            <!-- <div class="sessionCount">
        <h1>{{ serverData.sessionCount }}</h1>
        <h6 class="sessionCountText">Session Count</h6>
      </div> -->
            <!-- <app-machine-info
                class="sessionDateTime"
                [lable]="'Session Start time'"
                [lableClass]="'sessionDateTimeText'"
                [lableValue]="serverData.sDate + ' ' + serverData.sTime"
            /> -->
            <!-- <div class="sessionDateTime">
        <h1>{{ serverData.sDate + " " + serverData.sTime }}</h1>
        <h6 class="sessionDateTimeText">Session Start time</h6>
      </div> -->
            <!-- <app-machine-info
                class="efficiency"
                [lable]="'Efficiency'"
                [lableClass]="'efficiencyText'"
                [lableValue]="serverData.Efficiency + '%'"
            /> -->
            <!-- <div class="efficiency">
        <h1>{{ serverData.Efficiency }}%</h1>
        <h6 class="efficiencyText">Efficiency</h6>
      </div> -->
            <!-- <app-machine-info
                class="recipe"
                [lable]="'Recipe'"
                [lableClass]="'recipeText'"
                [lableValue]="serverData.selectedRecipe"
            /> -->
            <!-- <div class="recipe">
        <h1>{{ serverData.selectedRecipe }}</h1>
        <h6 class="recipeText">Recipe</h6>
      </div> -->
            <!-- 
            <div class="roll1"></div>
            <div class="roll2"></div>
            <div class="roll3"></div>
            <div class="roll4"></div> -->
        </div>
        <div class="machineLog">
            <h4 class="machineLogHeading">Logs</h4>
            <table>
                <thead>
                    <tr>
                        <th>errorCode</th>
                        <th>message</th>
                        <th>Frequency</th>
                        <th>errorTime</th>
                        <th>errorCause</th>
                        <th>errorRemedy</th>
                    </tr>
                </thead>
                <tr
                    *ngFor="
                        let error of serverData.log;
                        trackBy: trackByErrorCode
                    "
                >
                    <td>{{ error.errorCode }}</td>
                    <td>{{ error.message }}</td>
                    <td>{{ error.errorFrequency }}</td>
                    <td>{{ error.errorTime }}</td>
                    <td>{{ error.errorCause }}</td>
                    <td>{{ error.errorRemedy }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- <div class="">ABC_XYZ</div> -->
<!-- <div class="box">
  <div class="innerBox">
    <div>64&deg;C</div>
    <div>CPU</div>
  </div>
</div> -->
